{#
Displays information about accessing a Dbstore via the API.

datastore_root_url - The root API url.
resource_id - The resource id
embedded - If true will not include the "modal" classes on the snippet.

Example

    {% snippet 'ajax_snippets/api_info.html', datastore_root_url=datastore_root_url, resource_id=resource_id, embedded=true %}

#}

{% set sql_example_url = datastore_root_url + '/datastore_search_sql?sql=SELECT * from "' + resource_id + '" WHERE title LIKE \'jones\'' %}

<div {% if not embedded %} class="modal"{% endif %} >
  <div class="modal-header">
    <h3>
      {{ _('19115 API') }}
    </h3>
  </div>
  <div {% if not embedded %} class="modal-body"{% endif %}>
    <p><strong>{{ _('Access 19115 API') }}</strong>.
    <div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-endpoints">{{ _('Endpoints') }} &raquo;</a>
        </div>
        <div id="collapse-endpoints" class="in accordion-body collapse">
            <div class="accordion-inner">
                <p>{{ _('The 19115 API can be accessed via the following actions of the CKAN action API.') }}</p>
                <table class="table-condensed table-striped table-bordered">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ _('19115store show resources') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_show</code></td>
                         </tr>
                        <tr>
                            <th scope="row">{{ _('19115 get notifications') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_getNotifications</code></td>
                        </tr>
                        <tr>
                            <th scope="row">{{ _('19115 get notifications for date') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_getNotificationsForDate</code></td>
                        </tr>
                        <tr>
                            <th scope="row">{{ _('19115 get notifications for district') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_getNotificationsForDistrict</code></td>
                        </tr>
                        <tr>
                            <th scope="row">{{ _('19115 get notifications for notification number') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_getNotificationsForNotificationNumber</code></td>
                        </tr>
                        <tr>
                            <th scope="row">{{ _('19115 send free form notification') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_sendFreeform</code></td>
                        </tr>
                       <tr>
                            <th scope="row">{{ _('19115 send informational notification') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_sendInformational</code></td>
                        </tr>
                       <tr>
                            <th scope="row">{{ _('19115 send incident notification') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_sendIncident</code></td>
                        </tr>
                        <tr>
                            <th scope="row">{{ _('19115 get notifications POST') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_getNotificationsPost</code></td>
                        </tr>
                       <tr>
                            <th scope="row">{{ _('19115 send incident notification POST') }}</th>
                            <td><code>{{ datastore_root_url }}/19115store_sendIncidentPost</code></td>
                        </tr>
 
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapse-querying">{{ _('Querying') }} &raquo;</a>
        </div>
        <div id="collapse-querying" class="collapse accordion-body in">
            <div class="accordion-inner">
                <strong>{{ _('Query example (show resources)') }} </strong>
                 <p>
                    <code><a href="{{ datastore_root_url }}/19115store_show?name={{package_name}}" target="_blank">{{ datastore_root_url }}/19115store_show?name={{package_name}}</a></code>
                </p>                
  
                <p>
                    <code><a href="{{ datastore_root_url }}/19115store_getNotifications?id={{resource_id}}&filters=%22filters%22%3A%5B%7B%22field%22%3A%22DISTRICT%22%2C%22operator%22%3A%22EQ%22%2C%22value%22%3A%22Wola%22%7D%5D&operators=%22operators%22%3Anull" target="_blank">{{ datastore_root_url }}/19115store_getNotifications?id={{resource_id}}</a></code>
                    <i>possible also with POST: {{ datastore_root_url }}/19115store_getNotificationsPost - filters/operators data encoded in JSON content according API 19115 spec, also resource ID included in JSON: {"id"="{{resource_id}}", filters=..., operators=...}</i>
                </p>                
                <p>
                    <code><a href="{{ datastore_root_url }}/19115store_getNotificationsForDate?id={{resource_id}}&dateFrom=1427088587865&dateTo=1427361387865" target="_blank">{{ datastore_root_url }}/19115store_getNotificationsForDate?id={{resource_id}}&dateFrom=1427088587865&dateTo=1427361387865</a></code>
                </p>                
                <p>
                    <code><a href="{{ datastore_root_url }}/19115store_getNotificationsForDistrict?id={{resource_id}}&district=Wola" target="_blank">{{ datastore_root_url }}/19115store_getNotificationsForDistrict?name={{package_name}}&district=Wola</a></code>
                </p>                
                <p>
                    <code><a href="{{ datastore_root_url }}/19115store_getNotificationsForNotificationNumber?id={{resource_id}}&notificationNumber=123/45" target="_blank">{{ datastore_root_url }}/19115store_getNotificationsForNotificationNumber?id={{resource_id}}&notificationNumber=123/45</a></code>
                </p>                
                <p>
                    <code><a href="{{ datastore_root_url }}/19115store_sendFreeform?id={{resource_id}}&email=mudo@mundo.pl&name=test&lastName=test&phoneNumber=500100200&description=test" target="_blank">{{ datastore_root_url }}/19115store_sendFreeform?id={{resource_id}}&email=mudo@mundo.pl&name=test&lastName=test&phoneNumber=500100200&description=test</a></code>
                </p>                
                <p>
                    <code><a href="{{ datastore_root_url }}/19115store_sendInformational?id={{resource_id}}&email=mudo@mundo.pl&name=test&lastName=test&phoneNumber=500100200&description=test" target="_blank">{{ datastore_root_url }}/19115store_sendInformational?id={{resource_id}}&email=mudo@mundo.pl&name=test&lastName=test&phoneNumber=500100200&description=test</a></code>
                </p>                
               <p>
                    <code><a href="{{ datastore_root_url }}/19115store_sendIncident?id={{resource_id}}&email=mudo@mundo.pl&name=test&lastName=test&phoneNumber=500100200&description=test&xCoordWGS84=54&yCoordWGS84=74&subcategory=other&eventType=ip_other_001&street=lipowa&houseNumber=1&apartmentNumber=1" target="_blank">{{ datastore_root_url }}/19115store_sendIncident?id={{resource_id}}&email=mudo@mundo.pl&name=test&lastName=test&phoneNumber=500100200&description=test&xCoordWGS84=54&yCoordWGS84=74&subcategory=other&eventType=ip_other_001&street=lipowa&houseNumber=1&apartmentNumber=1</a></code>
                	 <i>possible also with POST: {{ datastore_root_url }}/19115store_sendIncidentPost - incident data encoded in JSON content according API 19115 spec(can be additional photoBase64 parameter which is not available via GET) also resource ID encoded in JSON: {"id":"{{resource_id}}", ......}</i>
                </p>                
            </div>
        </div>
    </div>
  </div>

</div>

</div>
